@import "./tailwind.scss";
@import "./link.scss";

html,
body {
  background-color: #fff;
  font-family: "Helvetica";
  font-size: 4.8vw; // 18px
  @screen sm {
    font-size: 2.343vw; //18px
  }
  @screen lg {
    font-size: 0.9375vw; // 18px
  }
}

:focus {
  outline: none;
}

.swiper {
  perspective: 1000px;
}

img {
  object-fit: cover;
  // height: auto;
  // min-width: 100%;
  // min-height: 100%;
}

.btn {
  transition: opacity 0.4s, transform 1s ease-out, background-color 0.4s ease,
    color 0.4s ease, stroke 1s ease;
}

p {
  font-size: inherit;
}

@font-face {
  font-family: "Impact";
  src: url("/fonts/impact.woff2") format("woff2"),
    url("/fonts/impact.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNeue-Heavy";
  src: url("/fonts/HelveticaNeue-Heavy.woff2") format("woff2"),
    url("/fonts/HelveticaNeue-Heavy.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNeue-Extended";
  src: url("/fonts/HelveticaNeue-Extended.woff2") format("woff2"),
    url("/fonts/HelveticaNeue-Extended.woff") format("woff");
}
